<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>

<body>
    <h1>{{ pageTitle }}</h1>
    <h2>{{ subTitle }}</h2>
    <h3>{{ subsubTitle }}</h3>
    <h1>Strona główna</h1>
    <h2>informacje</h2>
    <li><a href="#">123</a></li>
    <li><a href="#">456</a></li>
    <li><a href="#">789</a></li>
    <li><a href="#">10000</a></li>

<form action="">
    <input type="text" id="salary" placeholder="wprowadz swoją wypłatę netto">
    <button id="getSalary">Wyślij</button>
    <p id="result"></p>
</form>

    <script src="./../js/func.js"></script>
</body>

</html>